package templates

import "portfolio-blog/views/components"

templ ShowBlog() {
<!DOCTYPE html>
<html lang="en">
@components.Header("Blog")
<body>
    <h1>Blog posts</h1>
    <div class="section-2">
          
    </div>
</body>
</html>
}