/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2,.white{
    color: #fff;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 20vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 10vh;
    width: 70%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.blog-button {
    margin: 13px;
    border-radius: 10px;
    background-color: #7A7C80;
    border: none;
    padding: 7px;
}

.blog-button:hover{
    background-color: #000;
    cursor: pointer;
    transition: 0.2s;
    color:  #000;
    padding: 8px 12px;
}


.blog-button a{
    padding: 3px;
    font-size: 1rem;
    color: #fff;

}
.blog-button-login {
    width: 100%;
    border-radius: 5px;
    background-color: #7A7C80;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff !important;
    transition: 0.2s;
}

.blog-button-login:hover {
    background-color: #000;
    color: #fff !important;
    cursor: pointer;
    padding: 8px 12px;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
}
/* animations / utilities */
.section-2 a:hover{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}
/* Form styles */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #1E2023;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #7A7C80;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #7A7C80;
    border-radius: 5px;
    background-color: #101214;
    color: #fff;
    font-size: 1rem;
}

.form-group input:focus {
    border-color: lightgray;
    outline: none;
}


/* media queres */
@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
